/* Coolors Exported Palette - coolors.co/55868c-7f636e-d3b88c-e9d985-454545 */

/* HSL */
$color1: hsla(187%, 24%, 44%, 1);
$color2: hsla(336%, 12%, 44%, 1);
$color3: hsla(37%, 45%, 69%, 1);
$color4: hsla(50%, 69%, 72%, 1);
$color5: hsla(0%, 0%, 27%, 1);

/* RGB */
$color1: rgba(85, 134, 140, 1);
$color2: rgba(127, 99, 110, 1);
$color3: rgba(211, 184, 140, 1);
$color4: rgba(233, 217, 133, 1);
$color5: rgba(69, 69, 69, 1);
